							<link rel="stylesheet" href="css/sidebar.css"/>
							<div id="leftPane" class="col-md-3 backend-cp-fixed" style="width: 22em;">

								<!-- Main Reports -->
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Realtime Reports</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenu acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="river_reservoir/public/river_reservoir.html?cda=public" target="_blank" tabindex="0">
                                                                    River and Reservoir</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="gage_data/public/gage_data.html?basin=Mississippi&cda=public" target="_blank" tabindex="0">
																	Gage Data</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="ld_gate_summary/public/ld_gate_summary.html?cda=public" target="_blank" tabindex="0">
																	LD Summary</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="netmiss-forecast/public/forecast.html?cda=internal" target="_blank" tabindex="0">
                                                                    Operational Forecast</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="#" target="_blank" tabindex="0">
                                                                    Operational Forecast 28 Days</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="precip/public/precip.html?basin=Mississippi&type=inc&cda=public" target="_blank" tabindex="0">
                                                                    Precipitation Incremental</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="precip/public/precip.html?basin=Mississippi&type=cum&cda=public" target="_blank" tabindex="0">
                                                                    Precipitation Cummulative</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<!-- Lake Model Forecast -->
                                <div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Forecast Reports</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenu acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/Shelbyville_CWMS_Forecast.html" target="_blank" tabindex="0">
																	Shalebyville Lake</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/Carlyle_CWMS_Forecast.html" target="_blank" tabindex="0">
																	Carlyle Lake</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/Wappapello_CWMS_Forecast.html" target="_blank" tabindex="0">
																	Wappapello Lake</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/Mark_Twain_CWMS_Forecast.html" target="_blank" tabindex="0">
																	Mark Twain Lake</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/Rend_CWMS_Forecast.html" target="_blank" tabindex="0">
																	Rend Lake</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<!-- Chart JS Macro -->
								<div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Realtime Chart Macros</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenu acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Mississippi&cwms_ts_id=St Louis-Mississippi.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_blank" tabindex="0">
																	Mississippi</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Illinois&cwms_ts_id=Meredosia-Illinois.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_blank" tabindex="0">
																	Illinois</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Missouri&cwms_ts_id=St Charles-Missouri.Stage.Inst.30Minutes.0.lrgsShef-rev" target="_blank" tabindex="0">
																	Missouri</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Meramec&cwms_ts_id=Eureka-Meramec.Flow.Inst.30Minutes.0.RatingUSGS" target="_blank" tabindex="0">
																	Meramec</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Tributaries&cwms_ts_id=Troy-Cuivre.Flow.Inst.15Minutes.0.RatingUSGS" target="_blank" tabindex="0">
																	Tributaries</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Mark Twain DO&cwms_ts_id=Mark Twain Lk TW-Salt.Conc-DO.Inst.15Minutes.0.lrgsShef-raw" target="_blank" tabindex="0">
																	Mark Twain DO</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Mark Twain&cwms_ts_id=Mark Twain Lk-Salt.Stage.Inst.30Minutes.0.29" target="_blank" tabindex="0">
																	Mark Twain</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Wappapello&cwms_ts_id=Wappapello Lk-St Francis.Stage.Inst.30Minutes.0.29" target="_blank" tabindex="0">
																	Wappapello</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Shelbyville&cwms_ts_id=Lk Shelbyville-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_blank" tabindex="0">
																	Shelbyville</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Carlyle&cwms_ts_id=Carlyle Lk-Kaskaskia.Stage.Inst.30Minutes.0.29" target="_blank" tabindex="0">
																	Carlyle</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Rend&cwms_ts_id=Rend Lk-Big Muddy.Stage.Inst.30Minutes.0.29" target="_blank" tabindex="0">
																	Rend</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Kaskaskia Nav&cwms_ts_id=Venedy Station-Kaskaskia.Flow.Inst.15Minutes.0.RatingUSGS" target="_blank" tabindex="0">
																	Kaskaskia Nav</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="/district_templates/chart/index.html?office=MVS&basin=Water Quality&cwms_ts_id=Mark Twain Lk TW-Salt.Conc-DO.Inst.15Minutes.0.lrgsShef-raw" target="_blank" tabindex="0">
																	Water Quality</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>






								<!-- <div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Monitors</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenu acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="monitor/mpld.html" target="_blank" tabindex="0">
																	Lock Dam Mel Price</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div> -->


								<!-- <div class="box-usace">
									<h2 class="box-header-striped">
										<span class="title">Test Data Reports</span>
										<span class="rss"></span>
									</h2>
									<div id="ContentPane" class="box-content">
										<div id="dnn_ctr2497_ModuleContent" class="DNNModuleContent ModAccordionMenuC">
											<div id="dnn_ctr2497_View_AccordionContainer" class="AccordionContainer">
												<div class="ac-jump-menu-wrapper ac-hide ac-show-mobile-only">
													<div class="ac-jump-menu-success alert alert-success">
														<i class="fas fa-spinner fa-spin"></i>Redirecting...
													</div>
													<select class="ac-jump-menu" id="mobilejumpmenu">
														<option data-new-window="False" value="">Select...</option>
														<option data-new-window="False" value="/reports">My Reports</option>
                                                        <option data-new-window="False" value="/gages">My Gages</option>
													</select>
												</div>
												<ul class="acAccordionMenu acResponsive ac-hide ac-hide-mobile-only ">
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="river_reservoir/public/river_reservoir_test.php" target="_blank" tabindex="0">
                                                                    River and Reservoir</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="gage_data/public/gage_data_test.php?basin=Mississippi" target="_blank" tabindex="0">
																	Gage Data</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="ld_gate_summary/public/ld_gate_summary_test.php" target="_blank" tabindex="0">
																	LD Summary</a>
															</div>
														</div>
													</li>
													<li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="netmiss-forecast/public/forecast_test.php" target="_blank" tabindex="0">
                                                                    Operational Forecast</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="https://www.mvs-wc.usace.army.mil/trans/MvsInternalLongRangeRiverForecast.htm" target="_blank" tabindex="0">
                                                                    Operational Forecast 28 Days*</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="precip/public/precip_test.php?basin=Mississippi&type=inc" target="_blank" tabindex="0">
                                                                    Precipitation Incremental</a>
															</div>
														</div>
													</li>
                                                    <li class="usaceAccordionMenuListItem">
														<div class="usaceAccordionRootNode">
															<div class="lvl0 listItem">
																<a href="precip/public/precip_test.php?basin=Mississippi&type=cum" target="_blank" tabindex="0">
                                                                    Precipitation Cummulative</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div> -->




							</div>
							<script defer>
								const mobilejumpmenu=document.getElementById("mobilejumpmenu");
								mobilejumpmenu.addEventListener("change", function(){
									let url=this.value
									window.location=url
								});
							</script>
