				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha256-2H3fkXt6FEmrReK448mDVGKb3WW2ZZw35gI7vqHOE4Y=" crossorigin="anonymous"/>
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Roboto:400,700"/>
				<link rel="stylesheet" href="css/header.css"/>
				<!-- Load CSS in html to prevent element flashing as page loads in -->
				<div id="main-header">
					<div class="main-bar">
						<div class="header-float">
							<div class="container-fluid">
								<div class="site-logo">
									<a href="/">
										<img id="usace-logo" alt="USACE Logo" src="../logos/usace-logo-color.svg" />
										<script>
											// Function to set the logo path based on the value of cda
											function setLogoPath(cda) {
												var logoElement = document.getElementById('usace-logo');
												var logoPath;
										
												// Check if cda is not set or is undefined
												if (typeof cda === 'undefined' || cda === null) {
													cda = 'default';
												}
										
												switch (cda) {
													case 'public':
														logoPath = '../logos/usace-logo-color.svg';
														break;
													case 'internal':
														logoPath = '../logos/usace-logo-color.svg';
														break;
													default:
														logoPath = '../logos/usace-logo-color.svg';
												}
										
												logoElement.src = logoPath;
											}
										
											// Get the value of cda (you can set it or get it from somewhere)
											var cda;
										
											// Call the function to set the logo path based on the current value of cda
											setLogoPath(cda);
										</script>										
									</a>
									<div class="reg">®</div>
								</div>
								<div id="desktop-menu">
									<ul class="top-level-menu">
										<li><a href="/">Home</a>
										</li>
										<!-- <li>
											<a href="../../../php_data_api/public/staff/index.php" target="_blank">PHP Data API</a>
										</li> -->
									</ul>
								</div>
								<div id="mobile-menu">
									<span class="burger-bar" id="burgerBtn" onclick="openNav()">&#9776;</span>
								</div>
							</div>
							<div id="mobileNav" class="overlay">
								<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
								<div id="mobileNavContent" class="overlay-content">
									<a class="home mobile-top-level-menu" href="/">Home</a>
									<div title="Click to Expand" class="collapsible-mobile mobile-top-level-menu">
										Reports
									</div>
									<div class="content-mobile" style="display: none;">
										<a class="menu-item" href="/reports/hourly">Hourly</a>
										<a class="menu-item" href="/reports/midnight">Daily</a>
										<a class="menu-item" href="/reports/monthly">Monthly</a>
										<a class="menu-item" href="/reports/average">Average</a>
										<a class="menu-item" href="/reports/annual">Annual</a>
										<a class="menu-item" href="/reports/release_changes">Release Changes</a>
									</div>
									<div title="Click to Expand" class="collapsible-mobile mobile-top-level-menu">
										Plots
									</div>
									<div class="content-mobile" style="display: none;">
										<a class="menu-item" href="/plots?project=1">Project 1 Plots</a>
									</div>
									<div title="Click to Expand" class="collapsible-mobile mobile-top-level-menu">
										Other Links
									</div>
									<div class="content-mobile" style="display: none; margin-bottom: 50px;">
										<a class="menu-item" href="https://www.DISTRICT.usace.army.mil/">District Home Page</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-title">
						<div class="header-float">
							<div class="container-fluid">
								<div class="sub-header">
									<div class="site-name">US Army Corps of Engineers</div>
									<div class="site-area" data-lake="header-sub">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Burger Bar Control -->
				<script defer type="text/javascript" src="js/header.js"></script>
                <script>
                    // Setup the header subheading based on the current page title
                    if (document.querySelector('[data-lake="header-sub"]'))
                        // Remove this script tag to manually set each page in the HTML file
                        document.querySelector('[data-lake="header-sub"]').innerText = document.title
                </script>
				<script type="text/javascript">
					// Setup the page's collapses
					let coll_legend = document.getElementsByClassName("collapsible-legend");
					for (var i = 0; i < coll_legend.length; i++) {
						coll_legend[i].addEventListener("click", function () {
							this.classList.toggle("active");
							let content = this.nextElementSibling;
							let arrow = document.getElementById("arrow");
							if (content.style.display === "block") {
								content.style.display = "none";
								arrow.className = "sub-arrow-down";
							} else {
								content.style.display = "block";
								arrow.className = "sub-arrow-up";
							}
						});
					}
				</script>
				<div id="header-pane"></div>
